# DISABLED CAUTIOUS MODERATE AGGRESSIVE EXTRA_AGGRESSIVE
# true false
{
	# Show a pop-up notification to the end user when the Falcon sensor blocks, kills, or quarantines. These messages also show up in the Windows Event Viewer under Applications and Service Logs.
	"id": "EndUserNotifications",
	"value": {"enabled": false}
},{
	# Allows the sensor to get more data from a user-mode component it loads into all eligible processes, which augments online machine learning and turns on additional detections. Recommend testing with critical applications before full deployment
	"id": "AdditionalUserModeData",
	"value": {"enabled": true}
},{
	# Provides visibility into malicious PowerShell interpreter usage.
	"id": "InterpreterProtection",
	"value": {"enabled": false}
},{
	# Provides visibility into malicious System Management Automation engine usage by any application. Recommend testing with critical .NET-based applications before full deployment. Requires Interpreter-Only.
	"id": "EngineProtectionV2",
	"value": {"enabled": false}
},{
	# Use cloud-based machine learning informed by global analysis of executables to detect and prevent known malware for your online hosts.
	"id": "CloudAntiMalware",
	"value": {
		"detection": "AGGRESSIVE",
		"prevention": "DISABLED"
		}
},{
	# Use cloud-based machine learning informed by global analysis of executables to detect and prevent adware and potentially unwanted programs (PUP) for your online hosts.
	"id": "AdwarePUP",
	"value": {
		"detection": "AGGRESSIVE",
		"prevention": "DISABLED"
		}
},{
	# For offline and online hosts, use sensor-based machine learning to identify and analyze unknown executables as they run to detect and prevent malware.
	"id": "OnSensorMLSlider",
	"value": {
		"detection": "EXTRA_AGGRESSIVE",
		"prevention": "DISABLED"
		}
},{
	# Quarantine executable files after they’re prevented by NGAV. When this is enabled, we recommend setting anti-malware prevention levels to Moderate and not using other antivirus solutions. CrowdStrike Falcon registers with Windows Security Center, disabling Windows Defender.
	"id": "NextGenAV",
	"value": {"enabled": false}
},{
	# This hash was blocked in accordance with your organization's policy.
	"id": "CustomBlacklisting",
	"value": {"enabled": false}
},{
	# A suspicious process identified by CrowdStrike was prevented from executing. These dynamic Indicator-of-Attack (IOA) based preventions protect against malware, exploits and other threats.
	"id": "PreventSuspiciousProcesses",
	"value": {"enabled": false}
},{
	# A suspicious script or command identified by CrowdStrike was prevented from executing. Requires Interpreter-Only.
	"id": "MaliciousPowershell",
	"value": {"enabled": false}
},{
	# An Address Space Layout Randomization (ASLR) bypass attempt was detected and blocked. This may have been part of an attempted exploit.
	"id": "ForceASLR",
	"value": {"enabled": false}
},{
	# A process that had Force Data Execution Prevention (Force DEP) applied tried to execute non-executable memory and was blocked.
	"id": "ForceDEP",
	"value": {"enabled": false}
},{
	# A heap spray attempt was detected and blocked. This may have been part of an attempted exploit.
	"id": "HeapSprayPreallocation",
	"value": {"enabled": false}
},{
	# Allocating memory to the NULL (0) memory page was detected and blocked. This may have been part of an attempted exploit.
	"id": "NullPageAllocation",
	"value": {"enabled": false}
},{
	# Overwriting a Structured Exception Handler (SEH) was detected and may have been blocked. This may have been part of an attempted exploit.
	"id": "SEHOverwriteProtection",
	"value": {"enabled": false}
},{
	# Loading an untrusted (non-system) font was detected and may have been blocked. This may have been part of an attempted exploit.
	"id": "UntrustedFontLoading",
	"value": {"enabled": false}
},{
	# Loading a library (executable module) from a remote path was detected and may have been blocked. This may have been part of an attempted exploit.
	"id": "RemoteLibraryLoading",
	"value": {"enabled": false}
},{
	# Deletion of backups often indicative of ransomware activity.
	"id": "BackupDeletion",
	"value": {"enabled": false}
},{
	# A process associated with Cryptowall was blocked.
	"id": "Cryptowall",
	"value": {"enabled": false}
},{
	# A process that created a file with a known ransomware extension was terminated.
	"id": "FileEncryption",
	"value": {"enabled": false}
},{
	# A process determined to be associated with Locky was blocked.
	"id": "Locky",
	"value": {"enabled": false}
},{
	# A process associated with a high volume of file system operations typical of ransomware behavior was terminated.
	"id": "FileSystemAccess",
	"value": {"enabled": false}
},{
	# Creation of a process, such as a command prompt, from an exploited browser or browser flash plugin was blocked.
	"id": "ApplicationExploitationActivity",
	"value": {"enabled": false}
},{
	# Execution of a command shell was blocked and is indicative of the system hosting a Chopper web page.
	"id": "ChopperWebshell",
	"value": {"enabled": false}
},{
	# A suspicious file written by a browser attempted to execute and was blocked.
	"id": "DriveByDownload",
	"value": {"enabled": false}
},{
	# JavaScript executing from a command line via rundll32.exe was prevented.
	"id": "JavaScriptViaRundll32",
	"value": {"enabled": false}
},{
	# A command line process associated with Windows logon bypass was prevented from executing.
	"id": "WindowsLogonBypassStickyKeys",
	"value": {"enabled": false}
}
