# usage
# Options:
#   DISABLED CAUTIOUS MODERATE AGGRESSIVE EXTRA_AGGRESSIVE
#   true false
#
# remove these and all comments
# remove any features not wanting to update
# update values of any changes
#   booleans without quotes

[{
	"description": "Show a pop-up notification to the end user when the Falcon sensor blocks, kills, or quarantines. These messages also show up in the Windows Event Viewer under Applications and Service Logs.",
	"id": "EndUserNotifications",
	"value": {"enabled": false}
},{
	"id": "AdditionalUserModeData",
	"description": "Allows the sensor to get more data from a user-mode component it loads into all eligible processes, which augments online machine learning and turns on additional detections. Recommend testing with critical applications before full deployment.",
	"value": {"enabled": true}
},{
	"id": "InterpreterProtection",
	"description": "Provides visibility into malicious PowerShell interpreter usage.",
	"value": {"enabled": false}
},{
	"id": "EngineProtectionV2",
	"description": "Provides visibility into malicious System Management Automation engine usage by any application. Recommend testing with critical .NET-based applications before full deployment. Requires Interpreter-Only.",
	"value": {"enabled": false}
},{
	"id": "CloudAntiMalware",
	"description": "Use cloud-based machine learning informed by global analysis of executables to detect and prevent known malware for your online hosts.",
	"value": {
		"detection": "AGGRESSIVE",
		"prevention": "DISABLED"
		}
},{
	"id": "AdwarePUP",
	"description": "Use cloud-based machine learning informed by global analysis of executables to detect and prevent adware and potentially unwanted programs (PUP) for your online hosts.",
	"value": {
		"detection": "AGGRESSIVE",
		"prevention": "DISABLED"
		}
},{
	"id": "OnSensorMLSlider",
	"description": "For offline and online hosts, use sensor-based machine learning to identify and analyze unknown executables as they run to detect and prevent malware.",
	"value": {
		"detection": "EXTRA_AGGRESSIVE",
		"prevention": "DISABLED"
		}
},{
	"id": "NextGenAV",
	"description": "Quarantine executable files after they’re prevented by NGAV. When this is enabled, we recommend setting anti-malware prevention levels to Moderate and not using other antivirus solutions. CrowdStrike Falcon registers with Windows Security Center, disabling Windows Defender.",
	"value": {"enabled": false}
},{
	"id": "CustomBlacklisting",
	"description": "This hash was blocked in accordance with your organization's policy.",
	"value": {"enabled": false}
},{
	"id": "PreventSuspiciousProcesses",
	"description": "A suspicious process identified by CrowdStrike was prevented from executing. These dynamic Indicator-of-Attack (IOA) based preventions protect against malware, exploits and other threats.",
	"value": {"enabled": false}
},{
	"id": "MaliciousPowershell",
	"description": "A suspicious script or command identified by CrowdStrike was prevented from executing. Requires Interpreter-Only.",
	"value": {"enabled": false}
},{
	"id": "ForceASLR",
	"description": "An Address Space Layout Randomization (ASLR) bypass attempt was detected and blocked. This may have been part of an attempted exploit.",
	"value": {"enabled": false}
},{
	"id": "ForceDEP",
	"description": "A process that had Force Data Execution Prevention (Force DEP) applied tried to execute non-executable memory and was blocked.",
	"value": {"enabled": false}
},{
	"id": "HeapSprayPreallocation",
	"description": "A heap spray attempt was detected and blocked. This may have been part of an attempted exploit.",
	"value": {"enabled": false}
},{
	"id": "NullPageAllocation",
	"description": " Allocating memory to the NULL (0) memory page was detected and blocked. This may have been part of an attempted exploit.",
	"value": {"enabled": false}
},{
	"id": "SEHOverwriteProtection",
	"description": "Overwriting a Structured Exception Handler (SEH) was detected and may have been blocked. This may have been part of an attempted exploit.",
	"value": {"enabled": false}
},{
	"id": "UntrustedFontLoading",
	"description": "Loading an untrusted (non-system) font was detected and may have been blocked. This may have been part of an attempted exploit.",
	"value": {"enabled": false}
},{
	"id": "RemoteLibraryLoading",
	"description": "Loading a library (executable module) from a remote path was detected and may have been blocked. This may have been part of an attempted exploit.",
	"value": {"enabled": false}
},{
	"id": "BackupDeletion",
	"description": "Deletion of backups often indicative of ransomware activity.",
	"value": {"enabled": false}
},{
	"id": "Cryptowall",
	"description": "A process associated with Cryptowall was blocked.",
	"value": {"enabled": false}
},{
	"id": "FileEncryption",
	"description": "A process that created a file with a known ransomware extension was terminated.",
	"value": {"enabled": false}
},{
	"id": "Locky",
	"description": "A process determined to be associated with Locky was blocked.",
	"value": {"enabled": false}
},{
	"id": "FileSystemAccess",
	"description": "A process associated with a high volume of file system operations typical of ransomware behavior was terminated.",
	"value": {"enabled": false}
},{
	"id": "ApplicationExploitationActivity",
	"description": "Creation of a process, such as a command prompt, from an exploited browser or browser flash plugin was blocked.",
	"value": {"enabled": false}
},{
	"id": "ChopperWebshell",
	"description": "Execution of a command shell was blocked and is indicative of the system hosting a Chopper web page.",
	"value": {"enabled": false}
},{
	"id": "DriveByDownload",
	"description": "A suspicious file written by a browser attempted to execute and was blocked.",
	"value": {"enabled": false}
},{
	"id": "JavaScriptViaRundll32",
	"description": "JavaScript executing from a command line via rundll32.exe was prevented.",
	"value": {"enabled": false}
},{
	"id": "WindowsLogonBypassStickyKeys",
	"description": "A command line process associated with Windows logon bypass was prevented from executing.",
	"value": {"enabled": false}
}]